[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
google-cloud-tasks = "*"
flask = "*"
google-api-python-client = "*"
sqlalchemy = ">=1.4.25"
psycopg2-binary = "*"
pyarrow = "*"
sqlalchemy-cockroachdb = "*"

[dev-packages]
pandas = "*"
jupyter = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
