[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "==1.16.1"
google-cloud-tasks = "==2.12.1"
flask = "==2.2.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
