[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "2.0.15"
psycopg2-binary = "2.9.6"
sqlalchemy-cockroachdb = "==2.0.1"
great_expectations = "==0.18.8"

# Note: great-expectations was *manually* installed with pip:
# pip install -e git+https://github.com/great-expectations/great_expectations.git@develop#egg=great_expectations --config-settings editable_mode=compat
# Note the use of compat mode to ensure that vscode can analyze it (for autocomplete)

[dev-packages]
pika = "*"
jupyter = "*"

[requires]
python_version = "3.9"
